body {
  font-family: Arial;
  margin: 0;
  background: #f5fff5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #2ecc71;
  color: white;
  align-items: center;
}

#search {
  padding: 8px;
  width: 40%;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card button {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.cart-panel {
  position: fixed;
  right: 0;
  top: 70px;
  width: 250px;
  background: white;
  height: 100%;
  padding: 10px;
  border-left: 2px solid #ddd;
}